﻿.topleft {
    position: absolute;
    top: 8px;
    left: 16px;
    font-size: 18px;
}

.bottomright {
    position: absolute;
    bottom: 8px;
    right: 16px;
    font-size: 18px;
}

.bottomleft {
    position: absolute;
    bottom: 8px;
    left: 16px;
    font-size: 18px;
}

.center {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 18px;
}

.topright {
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: 18px;
}

.ItemIdentification {
    width: 100%;
    height: 25px;
    background-color:lightcyan
}

.blink {
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
}

.vertialBar {
    width:32px;
    height:98%;
    background-color:lightgray;
}

.horizontalBar {
    height:32px;
    width:100%;
    background-color:lightgray;
}

.fitfull {
    position: absolute;
    height:100%;
    width:100%;
}
.fit98 {
    height:100%;
    width:100%;
}

.invisible {
    visibility:hidden
}

.fitWith {
    width:100%
}

@keyframes blink-animation {
  to {
    visibility: hidden;
    color: yellow
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

.fieldlist {
    margin: 0 0 -2em;
    padding: 0;
}

.fieldlist li {
    list-style: none;
    padding-bottom: 2em;
}

.fieldlist label {
    display: block;
    padding-bottom: 1em;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    color: #444;
}

.editControl {
    width: 250px
}


    #slide-in-share {
        position: absolute;
        top: 30px;
        left: 0;
        width: 200px;
        margin-left: -200px;
        border: solid #e9e9e9;
        border-width: 1px 1px 1px 0;
    }

    #slide-in-handle {
        position: absolute;
        left: 200px;
        width: 31px;
        height: 31px;
        background: #1b7458 no-repeat 50% 50%;
        color: #fff;
        text-indent: -999em;
    }

    #slide-in-share ul {
        list-style: none;
        margin: 0;
        padding: 0;
        height: 31px;
        background: #fff;
        text-align: center;
    }

    #slide-in-share li {
        display: inline-block;
        margin: 0 2px;
    }

    .share-button {
        background: #fff url(../content/web/fx/social-buttons.png) no-repeat 50% 50%;
        border: 4px solid #a6a6a6;
        display: inline-block;
        width: 34px;
        height: 34px;
        margin-top: 17px;

        -webkit-border-radius: 21px;
        -moz-border-radius: 21px;
        border-radius: 21px;
        text-indent: -999em;
        color: #a6a6a6;
    }

    .share-button:hover {
        border-color: #333;
    }

    .share-facebook { background-position: 50% -2px; }
    .share-twitter { background-position: 50% -40px; }
    .share-tumblr { background-position: 50% -78px; }

    .share-facebook:hover { border-color: #3b5998; }
    .share-twitter:hover { border-color: #00c0f7; }
    .share-tumblr:hover { border-color: #2b4865; }

    .toggledButton {
        background-color:red
    }