* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
body {
  background: #E5E5E5;
}
.grid-container {
  position: absolute;
  top: 40px;
  left: 33px;
  right: 10px;
  bottom: 0;
  overflow: auto;
}
.grid {
  position: relative;
  height: 90%;
  list-style: none;
  /* Will be modified by the grid jquery lib, depending on the items */
  -webkit-transition: width 0.2s,
                      height 0.2s;
          transition: width 0.2s,
                      height 0.2s;
}
  .grid li {
    position: absolute;
    z-index: 1;
    font-weight: bold;
    line-height: 4em;
    text-align: center;
    cursor: pointer;
    -webkit-transition: top 0.2s,
                        left 0.2s,
                        width 0.2s,
                        height 0.2s,
                        font-size 0.2s,
                        line-height 0.2s;
            transition: top 0.2s,
                        left 0.2s,
                        width 0.2s,
                        height 0.2s,
                        font-size 0.2s,
                        line-height 0.2s;
  }
  .grid li .inner {
    position: absolute;
    background: #fff;
    border: 1px solid #bbb;
    top: 0;
    bottom: 10px;
    left: 10px;
    right: 0;
    -webkit-transition: background 3s;
            transition: background 3s;
  }
  .grid li.changed .inner {
    background: #ffff66;
    -webkit-transition: none;
            transition: none;
  }
  .grid li.ui-draggable-dragging {
    -webkit-transition: none;
            transition: none;
  }
  .grid li.position-highlight {
    -webkit-transition: none;
            transition: none;
  }
    .grid li.position-highlight .inner {
      border: none;
      background: #ccc;
    }
  .grid .controls {
    position: absolute;
    top: 0;
    right: 0;
    float: right;
    font-size: 0.4em;
    font-weight: normal;
    line-height: 1em;
    opacity: 0;
    -webkit-transition: opacity 0.2s;
            transition: opacity 0.2s;
  }
    .grid .controls .resize {
      font-size: 0.6em;
      float: left;
      margin: 5px 5px 0 0;
      padding: 0.3em;
      background: #fafafa;
      color: #444;
      text-decoration: none;
    }
    .grid .controls .resize:hover {
      background: #f1f1f1;
    }
  .grid li:hover .controls {
    opacity: 1;
  }

.header {
  height: 55px;
  border-bottom: 1px solid #ccc;
}
  .header .button {
    float: left;
    width: 40px;
    height: 40px;
    margin: 6px 0 0 10px;
    border: solid 1px #ccc;
    background: #fafafa;
    color: #000;
    font-size: 18px;
    line-height: 40px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
  }
  .header p {
    float: left;
    padding: 14px 0 0 10px;
    font-size: 18px;
    line-height: 18px;
  }
